html {
	scrollbar-width: none !important;
}

html::-webkit-scrollbar {
	display: none !important;
}

* {
  box-sizing: border-box !important;
}

body {
  overflow: hidden !important;
  scroll-behavior: smooth !important;
}